# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/


# Temporary files
*~
.*~

# Makefile targets
.ccow-tools
.deploy
.deploy-dev
.deps
.edgefs
.scripts

# In case if home build dir is set to the source tree
.local
bin/
include/
lib/
sbin/
etc/
share/
var/
neadm/
restapi/
